# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
**/node_modules/
!**/node_modules/.bin/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
**/dist/
**/*.tsbuildinfo

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env.production

# vercel
.vercel

# editor
.idea
.vscode/
*.swp
*.swo
*~

# typescript
*.tsbuildinfo
next-env.d.ts

# Turborepo
.turbo
**/.turbo

# Duplicates and templates
shadcn-dashboard-template/
